@import "tailwindcss";

* {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeSlideIn {
    animation: fadeSlideIn 0.6s ease-out forwards;
}